html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #525252;
}

a {
  text-decoration: none;
  color: #cb3837;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

/*Search bar*/

#imaginary_container{
 margin-top:3%;
}
.stylish-input-group .input-group-addon{
  background: white !important;
}
.stylish-input-group .form-control{
border-right:0;
box-shadow:0 0 0;
border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}
/*Search bar end*/

#traffic_btn{
  border-radius: 4px;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
}

#traffic_btn.active{
  background-color: #0dad3d;
}

#traffic_btn img{
  height: 31px;
  width: 26px;
}

#gps_btn{
  border-radius: 4px;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin-top: 10px;
}

#gps_btn.active{
  background-color: #0dad3d;
}

#gps_btn img{
  height: 31px;
  width: 26px;
}
